html{
  box-sizing: border-box;
}

*, ::before, ::after{
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../src/images/background_money.jpg");
  background-size: cover;
  background-position: center;
}